In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data= pd.read_csv('/Users/padhmapriya/Downloads/Crimes_-_2001_to_Present.csv')
print('File Read Succesfully')

File Read Succesfully

In [5]:
data['Primary Type'].unique()

array(['ASSAULT', 'HOMICIDE', 'BURGLARY', 'BATTERY', 'THEFT',
       'CRIMINAL DAMAGE', 'DECEPTIVE PRACTICE', 'CRIMINAL SEXUAL ASSAULT',
       'OFFENSE INVOLVING CHILDREN', 'MOTOR VEHICLE THEFT', 'ROBBERY',
       'SEX OFFENSE', 'OTHER OFFENSE', 'WEAPONS VIOLATION', 'STALKING',
       'CRIMINAL TRESPASS', 'PROSTITUTION', 'ARSON', 'NARCOTICS',
       'KIDNAPPING', 'CONCEALED CARRY LICENSE VIOLATION',
       'INTERFERENCE WITH PUBLIC OFFICER', 'PUBLIC PEACE VIOLATION',
       'OBSCENITY', 'LIQUOR LAW VIOLATION', 'INTIMIDATION',
       'HUMAN TRAFFICKING', 'GAMBLING', 'CRIM SEXUAL ASSAULT',
       'OTHER NARCOTIC VIOLATION', 'NON-CRIMINAL', 'PUBLIC INDECENCY',
       'RITUALISM', 'DOMESTIC VIOLENCE',
       'NON-CRIMINAL (SUBJECT SPECIFIED)', 'NON - CRIMINAL'], dtype=object)

In [7]:
data['voilent crime']=0
data['other crime']=0
data['sum_voilentcrime']=0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8077151 entries, 0 to 8077150
Data columns (total 25 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Case Number           object
 2   Date                  object
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                bool
 9   Domestic              bool
 10  Beat                  int64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  X Coordinate          float64
 16  Y Coordinate          float64
 17  Year                  int64
 18  Updated On            object
 19  Latitude              float64
 20  Longitude             float64
 21  Location              object
 22  voilent crime         int64
 23  other crime           int64
 24  sum_voilentcrime      int64
dtypes: bool(2), float64(7), int64(6), object(10)
memory usage: 1.4+ GB

In [9]:
voilent_crimes=['OFFENSE INVOLVING CHILDREN','CRIM SEXUAL ASSAULT','SEX OFFENSE','NARCOTICS','PROSTITUTION','CRIMINAL DAMAGE','ASSAULT','DOMESTIC VIOLENCE']

In [10]:
for i in voilent_crimes:
    data.loc[data['Primary Type'] == i, 'voilent crime'] = 1

In [11]:
other_crimes=['THEFT', 'OTHER OFFENSE',
        'MOTOR VEHICLE THEFT',
       'DECEPTIVE PRACTICE', 'BATTERY', 'BURGLARY', 'WEAPONS VIOLATION',
       'PUBLIC PEACE VIOLATION', 'GAMBLING',
       'LIQUOR LAW VIOLATION', 'INTERFERENCE WITH PUBLIC OFFICER',
       'STALKING', 'ARSON',
       'CRIMINAL TRESPASS', 'HOMICIDE', 'ROBBERY', 'OBSCENITY',
       'KIDNAPPING', 'INTIMIDATION', 'RITUALISM',
       'OTHER NARCOTIC VIOLATION', 'PUBLIC INDECENCY']

In [12]:
for i in other_crimes:
    data.loc[data['Primary Type'] == i, 'other crime'] = 1

In [13]:
data['Date'] = pd.to_datetime(data['Date'])
data['Date']=data['Date'].dt.normalize()

In [14]:
data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,voilent crime,other crime,sum_voilentcrime
0,5741943,HN549294,2007-08-25,074XX N ROGERS AVE,0560,ASSAULT,SIMPLE,OTHER,False,False,...,NaN,NaN,2007,08/17/2015 03:03:40 PM,NaN,NaN,NaN,1,0,0
1,25953,JE240540,2021-05-24,020XX N LARAMIE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,1141387.0,1913179.0,2021,11/18/2023 03:39:49 PM,41.917838,-87.755969,"(41.917838056, -87.755968972)",0,1,0
2,26038,JE279849,2021-06-26,062XX N MC CORMICK RD,0110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,...,1152781.0,1941458.0,2021,11/18/2023 03:39:49 PM,41.995219,-87.713355,"(41.995219444, -87.713354912)",0,1,0
3,13279676,JG507211,2023-11-09,019XX W BYRON ST,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,1162518.0,1925906.0,2023,11/18/2023 03:39:49 PM,41.952345,-87.677975,"(41.952345086, -87.677975059)",0,1,0
4,13274752,JG501049,2023-11-12,086XX S COTTAGE GROVE AVE,0454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,...,1183071.0,1847869.0,2023,12/09/2023 03:41:24 PM,41.737751,-87.604856,"(41.737750767, -87.604855911)",0,1,0

In [15]:
r1=data['Date']
r1[0]

Timestamp('2007-08-25 00:00:00')

In [16]:
r2=r1[0]-pd.Timedelta(days=2)
r2

Timestamp('2007-08-23 00:00:00')

In [18]:
s1=data['Date'].value_counts()
s2=s1.keys()
s3={}
for i in s2:
    r5=[]
    r5.append(i)
    r1=data[data['Date']==i]['voilent crime']==1
    count=0
    for i in r1:
        if i==True:
            count+=1
    s3[r5[0]]=count
    data.loc[data['Date'] == r5[0], 'sum_voilentcrime'] = count

In [20]:
data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,voilent crime,other crime,sum_voilentcrime
0,5741943,HN549294,2007-08-25,074XX N ROGERS AVE,0560,ASSAULT,SIMPLE,OTHER,False,False,...,NaN,NaN,2007,08/17/2015 03:03:40 PM,NaN,NaN,NaN,1,0,432
1,25953,JE240540,2021-05-24,020XX N LARAMIE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,1141387.0,1913179.0,2021,11/18/2023 03:39:49 PM,41.917838,-87.755969,"(41.917838056, -87.755968972)",0,1,164
2,26038,JE279849,2021-06-26,062XX N MC CORMICK RD,0110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,...,1152781.0,1941458.0,2021,11/18/2023 03:39:49 PM,41.995219,-87.713355,"(41.995219444, -87.713354912)",0,1,141
3,13279676,JG507211,2023-11-09,019XX W BYRON ST,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,1162518.0,1925906.0,2023,11/18/2023 03:39:49 PM,41.952345,-87.677975,"(41.952345086, -87.677975059)",0,1,171
4,13274752,JG501049,2023-11-12,086XX S COTTAGE GROVE AVE,0454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,...,1183071.0,1847869.0,2023,12/09/2023 03:41:24 PM,41.737751,-87.604856,"(41.737750767, -87.604855911)",0,1,165

In [21]:
data['sum_voilentcrime7']=0

In [22]:
t1=data['Date'].value_counts()
sum1={}
j=1

for i in s2:
    w2=i-pd.Timedelta(days=1)
        
    if w2 in s3:
        sum1[i]=s3[w2]
    else:sum1[i]=0

In [23]:
l1=0
j=2
while j<8:
    for i in range(len(s2)):
        w2=s2[i]-pd.Timedelta(days=j)
        if w2 in s3:
            l1=s3[w2]
        else:
            l1=0
    
        sum1[s2[i]]+=l1
        
    
    j+=1

In [24]:
for i in sum1:
    
    data.loc[data['Date'] == i, 'sum_voilentcrime7'] = sum1[i]

In [25]:
data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,voilent crime,other crime,sum_voilentcrime,sum_voilentcrime7
0,5741943,HN549294,2007-08-25,074XX N ROGERS AVE,0560,ASSAULT,SIMPLE,OTHER,False,False,...,NaN,2007,08/17/2015 03:03:40 PM,NaN,NaN,NaN,1,0,432,2765
1,25953,JE240540,2021-05-24,020XX N LARAMIE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,1913179.0,2021,11/18/2023 03:39:49 PM,41.917838,-87.755969,"(41.917838056, -87.755968972)",0,1,164,1231
2,26038,JE279849,2021-06-26,062XX N MC CORMICK RD,0110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,...,1941458.0,2021,11/18/2023 03:39:49 PM,41.995219,-87.713355,"(41.995219444, -87.713354912)",0,1,141,1201
3,13279676,JG507211,2023-11-09,019XX W BYRON ST,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,1925906.0,2023,11/18/2023 03:39:49 PM,41.952345,-87.677975,"(41.952345086, -87.677975059)",0,1,171,1242
4,13274752,JG501049,2023-11-12,086XX S COTTAGE GROVE AVE,0454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,...,1847869.0,2023,12/09/2023 03:41:24 PM,41.737751,-87.604856,"(41.737750767, -87.604855911)",0,1,165,1219

In [26]:
data['sum_voilentcrime30']=0

In [27]:
t1=data['Date'].value_counts()
sum1={}
j=1

for i in s2:
    w2=i-pd.Timedelta(days=1)
        
    if w2 in s3:
        sum1[i]=s3[w2]
    else:sum1[i]=0

In [28]:
l1=0
j=2
while j<31:
    for i in range(len(s2)):
        w2=s2[i]-pd.Timedelta(days=j)
        if w2 in s3:
            l1=s3[w2]
        else:
            l1=0
    
        sum1[s2[i]]+=l1
        
    
    j+=1

In [ ]:
for i in sum1:
    
    data.loc[data['Date'] == i, 'sum_voilentcrime30'] = sum1[i]

In [31]:
data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Year,Updated On,Latitude,Longitude,Location,voilent crime,other crime,sum_voilentcrime,sum_voilentcrime7,sum_voilentcrime30
0,5741943,HN549294,2007-08-25,074XX N ROGERS AVE,0560,ASSAULT,SIMPLE,OTHER,False,False,...,2007,08/17/2015 03:03:40 PM,NaN,NaN,NaN,1,0,432,2765,12762
1,25953,JE240540,2021-05-24,020XX N LARAMIE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,2021,11/18/2023 03:39:49 PM,41.917838,-87.755969,"(41.917838056, -87.755968972)",0,1,164,1231,4745
2,26038,JE279849,2021-06-26,062XX N MC CORMICK RD,0110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,...,2021,11/18/2023 03:39:49 PM,41.995219,-87.713355,"(41.995219444, -87.713354912)",0,1,141,1201,4938
3,13279676,JG507211,2023-11-09,019XX W BYRON ST,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,2023,11/18/2023 03:39:49 PM,41.952345,-87.677975,"(41.952345086, -87.677975059)",0,1,171,1242,5142
4,13274752,JG501049,2023-11-12,086XX S COTTAGE GROVE AVE,0454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,...,2023,12/09/2023 03:41:24 PM,41.737751,-87.604856,"(41.737750767, -87.604855911)",0,1,165,1219,5220

In [32]:
data['sum_voilentcrime120']=0
t1=data['Date'].value_counts()
sum1={}
j=1

for i in s2:
    w2=i-pd.Timedelta(days=1)
        
    if w2 in s3:
        sum1[i]=s3[w2]
    else:sum1[i]=0
l1=0
j=2
while j<121:
    for i in range(len(s2)):
        w2=s2[i]-pd.Timedelta(days=j)
        if w2 in s3:
            l1=s3[w2]
        else:
            l1=0
    
        sum1[s2[i]]+=l1
        
    
    j+=1

In [33]:
for i in sum1:
    
    data.loc[data['Date'] == i, 'sum_voilentcrime120'] = sum1[i]

In [36]:
data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Updated On,Latitude,Longitude,Location,voilent crime,other crime,sum_voilentcrime,sum_voilentcrime7,sum_voilentcrime30,sum_voilentcrime120
0,5741943,HN549294,2007-08-25,074XX N ROGERS AVE,0560,ASSAULT,SIMPLE,OTHER,False,False,...,08/17/2015 03:03:40 PM,NaN,NaN,NaN,1,0,432,2765,12762,51528
1,25953,JE240540,2021-05-24,020XX N LARAMIE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,11/18/2023 03:39:49 PM,41.917838,-87.755969,"(41.917838056, -87.755968972)",0,1,164,1231,4745,16817
2,26038,JE279849,2021-06-26,062XX N MC CORMICK RD,0110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,...,11/18/2023 03:39:49 PM,41.995219,-87.713355,"(41.995219444, -87.713354912)",0,1,141,1201,4938,18321
3,13279676,JG507211,2023-11-09,019XX W BYRON ST,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,11/18/2023 03:39:49 PM,41.952345,-87.677975,"(41.952345086, -87.677975059)",0,1,171,1242,5142,21231
4,13274752,JG501049,2023-11-12,086XX S COTTAGE GROVE AVE,0454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,...,12/09/2023 03:41:24 PM,41.737751,-87.604856,"(41.737750767, -87.604855911)",0,1,165,1219,5220,21222

In [38]:
data['sum_othercrime']=0
s1=data['Date'].value_counts()
s2=s1.keys()
s3={}
for i in s2:
    r5=[]
    r5.append(i)
    r1=data[data['Date']==i]['other crime']==1
    count=0
    for i in r1:
        if i==True:
            count+=1
    s3[r5[0]]=count
    data.loc[data['Date'] == r5[0], 'sum_othercrime'] = count

In [ ]:
data['sum_othercrime7']=0
t1=data['Date'].value_counts()
sum1={}
j=1

for i in s2:
    w2=i-pd.Timedelta(days=1)
        
    if w2 in s3:
        sum1[i]=s3[w2]
    else:sum1[i]=0
l1=0
j=2
while j<8:
    for i in range(len(s2)):
        w2=s2[i]-pd.Timedelta(days=j)
        if w2 in s3:
            l1=s3[w2]
        else:
            l1=0
    
        sum1[s2[i]]+=l1
        
    
    j+=1

In [39]:
for i in sum1:
    
    data.loc[data['Date'] == i, 'sum_othercrime7'] = sum1[i

SyntaxError: incomplete input (3640207914.py, line 3)

In [ ]:
data['sum_othercrime30']=0
t1=data['Date'].value_counts()
sum1={}
j=1

for i in s2:
    w2=i-pd.Timedelta(days=1)
        
    if w2 in s3:
        sum1[i]=s3[w2]
    else:sum1[i]=0
l1=0
j=2
while j<31:
    for i in range(len(s2)):
        w2=s2[i]-pd.Timedelta(days=j)
        if w2 in s3:
            l1=s3[w2]
        else:
            l1=0
    
        sum1[s2[i]]+=l1
        
    
    j+=1

In [ ]:
for i in sum1:
    
    data.loc[data['Date'] == i, 'sum_othercrime30'] = sum1[i]

In [ ]:
data['sum_othercrime120']=0
t1=data['Date'].value_counts()
sum1={}
j=1

for i in s2:
    w2=i-pd.Timedelta(days=1)
        
    if w2 in s3:
        sum1[i]=s3[w2]
    else:sum1[i]=0
l1=0
j=2
while j<121:
    for i in range(len(s2)):
        w2=s2[i]-pd.Timedelta(days=j)
        if w2 in s3:
            l1=s3[w2]
        else:
            l1=0
    
        sum1[s2[i]]+=l1
        
    
    j+=1

In [ ]:
for i in sum1:
    
    data.loc[data['Date'] == i, 'sum_othercrime120'] = sum1[i]

In [40]:
data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Latitude,Longitude,Location,voilent crime,other crime,sum_voilentcrime,sum_voilentcrime7,sum_voilentcrime30,sum_voilentcrime120,sum_othercrime
0,5741943,HN549294,2007-08-25,074XX N ROGERS AVE,0560,ASSAULT,SIMPLE,OTHER,False,False,...,NaN,NaN,NaN,1,0,432,2765,12762,51528,871
1,25953,JE240540,2021-05-24,020XX N LARAMIE AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,41.917838,-87.755969,"(41.917838056, -87.755968972)",0,1,164,1231,4745,16817,494
2,26038,JE279849,2021-06-26,062XX N MC CORMICK RD,0110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,...,41.995219,-87.713355,"(41.995219444, -87.713354912)",0,1,141,1201,4938,18321,418
3,13279676,JG507211,2023-11-09,019XX W BYRON ST,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,41.952345,-87.677975,"(41.952345086, -87.677975059)",0,1,171,1242,5142,21231,519
4,13274752,JG501049,2023-11-12,086XX S COTTAGE GROVE AVE,0454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,...,41.737751,-87.604856,"(41.737750767, -87.604855911)",0,1,165,1219,5220,21222,510

In [41]:
data["Latitude"].fillna(data["Latitude"].mean(), inplace = True)
data["Longitude"].fillna(data["Longitude"].mean(), inplace = True)

In [42]:
split_date =data['Date'][77]
df_training = data.loc[data['Date'] <= split_date]
df_test = data.loc[data['Date'] > split_date]

In [43]:
data['Date'][5898401]

Timestamp('2014-12-13 00:00:00')

In [44]:
a=len(df_training)
b=len(df_test)
print((a/(a+b))*100)
print((b/(a+b))*100)
a,b,a+b

97.70852371089757
2.291476289102432

(7892065, 185086, 8077151)